body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.social-icons {
    position: absolute;
    right: 20px;
    top: 10px;
}

.social-icons a {
    margin-left: 10px;
}

main {
    padding: 20px;
    position: relative;
}

.hidden-embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; /* Assure que l'embed Twitch soit au-dessus des autres contenus */
    display: none; /* Cacher par défaut */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    clear: both;
}

/* Styles spécifiques à la page planning */
.planning {
    display: flex;
    justify-content: space-between;
}

.planning div {
    flex: 1;
    border-left: 2px solid #000; /* Barres verticales entre les jours */
    padding: 20px;
}

.planning div:first-child {
    border-left: none; /* Pas de bordure pour le premier élément */
}

/* Styles pour les vidéos et shorts sur youtube.html */
.youtube-videos {
    display: flex;
    justify-content: space-between;
}

.youtube-videos iframe {
    width: 100%;
    height: 100%;
}

.short-videos {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espace entre les shorts */
}

/* Styles globaux pour tous les iframes */
iframe {
    border: none;
    width: 100%;
    height: 100%;
}
