* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #333; /* Fond gris foncé */
    color: white;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #222; /* Gris encore plus foncé pour le header */
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    position: relative; /* Pour utiliser les pseudo-éléments */
    border-radius: 5px; /* Bordures arrondies */
}

nav ul li a:hover {
    color: #00aaff;
}

nav ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond plus sombre derrière le texte */
    border-radius: 5px; /* Bordures arrondies */
    z-index: -1; /* Placer l'encadré derrière le texte */
    transition: background-color 0.3s ease; /* Transition douce */
}

.home-link {
    color: red; /* Couleur rouge pour le bouton Accueil */
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
